/* Añade esto al principio de tu CSS */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Elimina cualquier barra de desplazamiento horizontal */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
}

/* Estilos generales */
header {
  background-color: #111;
  color: white;
  padding: 1em 0;
  text-align: center;
}

main {
  flex: 1; /* Esto empuja el footer hacia abajo si el contenido no ocupa todo el alto */
  padding: 2em;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #222;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  background-color: #444;
}

/* Contenido principal */
main {
  flex: 1;
  padding: 2em;
}

section {
  padding: 2em;
}

/* Galería */
.grid {
  display: grid;
  place-items: stretch;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid img {
 /* filter: grayscale(0.9) opacity(0.9); */
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
}

.grid img:hover,
.grid img:focus {
  filter: grayscale(0);
  opacity: 1;
  border: 2px solid #000;
}

.lightbox {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 80%);
  display: none;
}

.lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.lightbox img {
  max-height: 75%;
  max-width: 75%;
}

.overflow-hidden {
  overflow: hidden;
}



/* Estilos para la sección de valores y redes sociales */
.valores, .redes {
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
}

.valores-page main,
.valores-page section,
.valores-page .valores {
  color: white;
}



/* Footer */
footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: auto; /* Se ajusta automáticamente al final */
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}






